@keyframes aTopAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes aBottomAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes aLeftAnimation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes aRightAnimation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}

.moving-grid__monster {
  position: absolute;
  top: 0px;
  width: 56px;
  height: 56px;
  z-index: 1;
  transition: 0.5s all;
}

.attack-animation__aTopAnimation {
  animation: aTopAnimation 0.2s 1;
}

.attack-animation__aBottomAnimation {
  animation: aBottomAnimation 0.2s 1;
}

.attack-animation__aLeftAnimation {
  animation: aLeftAnimation 0.2s 1;
}

.attack-animation__aRightAnimation {
  animation: aRightAnimation 0.2s 1;
}
